---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <h1>DayZ Data</h1>

  <h2>Enfermedades</h2>
  <table>
    <thead>
      <tr>
        <th>Enfermedad</th>
        <th>Síntomas</th>
        <th>Remedio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Neumonía / Resfriado</td>
        <td>Tos, estornudos, disminución de salud</td>
        <td>Tetracycline Pills, mantener calor, multivitamínicos</td>
      </tr>
      <tr>
        <td>Infección bacteriana</td>
        <td>Vómitos, diarrea, deshidratación rápida</td>
        <td>Tetracycline Pills, agua limpia, mantener hidratación</td>
      </tr>
      <tr>
        <td>Infección de heridas</td>
        <td>Fiebre, pérdida de salud</td>
        <td
          >Alcohol Tincture o desinfectante para limpiar heridas, mantenerlas
          vendadas</td
        >
      </tr>
      <tr>
        <td>Cólera</td>
        <td>Vómitos, deshidratación, pérdida de salud rápida</td>
        <td>Tetracycline Pills, agua limpia, mantener hidratación</td>
      </tr>
      <tr>
        <td>Intoxicación alimentaria</td>
        <td>Vómitos, pérdida de energía y hambre</td>
        <td>Carbón activado (Charcoal Tablets), hidratación</td>
      </tr>
      <tr>
        <td>Deshidratación</td>
        <td>Mareos, visión borrosa, pérdida rápida de salud</td>
        <td>Beber agua, evitar actividades físicas extenuantes</td>
      </tr>
      <tr>
        <td>Hipotermia</td>
        <td>Temblores, pérdida gradual de salud</td>
        <td>Ropa seca, fogatas, refugiarse del frío</td>
      </tr>
      <tr>
        <td>Fracturas</td>
        <td>Cojera, movilidad reducida, dolor</td>
        <td>Aplicar un splint o yeso (sticks + bandage o rags)</td>
      </tr>
      <tr>
        <td>Envenenamiento químico</td>
        <td>Vómitos, pérdida rápida de salud y energía</td>
        <td
          >Carbón activado (Charcoal Tablets), evitar beber agua contaminada</td
        >
      </tr>
      <tr>
        <td>Sobredosis de medicamentos</td>
        <td>Vómitos, pérdida de salud</td>
        <td>Esperar a que el cuerpo procese el exceso, mantener hidratación</td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th>Tipo de Sangre</th>
        <th>Puede donar a</th>
        <th>Puede recibir de</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>O-</td>
        <td>Todos los tipos (donador universal)</td>
        <td>O-</td>
      </tr>
      <tr>
        <td>O+</td>
        <td>O+, A+, B+, AB+</td>
        <td>O-, O+</td>
      </tr>
      <tr>
        <td>A-</td>
        <td>A-, A+, AB-, AB+</td>
        <td>O-, A-</td>
      </tr>
      <tr>
        <td>A+</td>
        <td>A+, AB+</td>
        <td>O-, O+, A-, A+</td>
      </tr>
      <tr>
        <td>B-</td>
        <td>B-, B+, AB-, AB+</td>
        <td>O-, B-</td>
      </tr>
      <tr>
        <td>B+</td>
        <td>B+, AB+</td>
        <td>O-, O+, B-, B+</td>
      </tr>
      <tr>
        <td>AB-</td>
        <td>AB-, AB+</td>
        <td>O-, A-, B-, AB-</td>
      </tr>
      <tr>
        <td>AB+</td>
        <td>AB+</td>
        <td>Todos los tipos (receptor universal)</td>
      </tr>
    </tbody>
  </table>
</Layout>
